## Instructions
## --- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. 
### Find the two entries that sum to 2020; what do you get if you multiply them together?

## 

Alright, so I feel like there is probably some efficient way to do this, but first thought is to brute force it and loop through the list a maxmimum of 1/2*(Length)**2 times

In [23]:
import csv
import os
import pandas as pd
data = pd.read_csv(os.getcwd()+ "/data/input_d1.txt", names = "N")

In [24]:
data

        N
0    1535
1    1908
2    1783
3    1163
4    1472
..    ...
195  1818
196  1687
197  1404
198  1778
199  1096

[200 rows x 1 columns]

In [52]:
int(data.iloc[0])

1535

In [57]:
for ix1 in range(len(data)):
    num1 = int(data.iloc[ix1])
    for ix2 in range(ix1,len(data)):
        num2 = int(data.iloc[ix2])
        if num1+num2 == 2020:
            print("The numbers are " + str(num1) + " and " + str(num2))
            print("The sum is " + str(num1+num2))
            print("The product and answer to the first puzzle of Day 1 is: " + str(num1*num2))

The numbers are 861 and 1159
The sum is 2020
The product and answer to the first puzzle of Day 1 is: 997899

## --- Part Two ---
The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [58]:
for ix1 in range(len(data)):
    num1 = int(data.iloc[ix1])
    for ix2 in range(ix1,len(data)):
        num2 = int(data.iloc[ix2])
        for ix3 in range(ix2,len(data)):
            num3 = int(data.iloc[ix3])
            if num1+num2+num3 == 2020:
                print("The numbers are " + str(num1) + " and " + str(num2) + " and " + str(num3))
                print("The sum is " + str(num1+num2+num3))
                print("The product and answer to the second puzzle of Day 1 is: " + str(num1*num2*num3))

The numbers are 337 and 1406 and 277
The sum is 2020
The product and answer to the second puzzle of Day 1 is: 131248694